<h2>Productos</h2>
<hr>

<ul id="products">
     {{#each products}}
        <li> 
        <img src={{thumbnails}} alt='Image of {{title}}' />
        <div>
          <p>{{title}}</p>
          <p>{{category}}</p>
          <p>{{description}}</p>
          <p>Price: {{price}}</p>
        </div>
        <div>
          <button onclick="suprimir('{{id}}')">Delete</button>
        </div>
      </li>
    {{/each}}
</ul>
<hr>
<a href="/">Home Page</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>